body {
	background-color: lightgray;
	
	
}
h1 {
	  color: black;
  text-align: center;
	 font-family: verdana;
	 height: 10vh;
	 width: 100vw;

}

h4 {
	height: 15px;
}
.header {
  padding: 30px;
  text-align: center;
  background: rgb(193, 137, 222);
  color: white;
}


section { 
	background-color: darkorchid;
    text-align: left;
margin-right: 30vw;

}
.container {
  display: flex;
  align-items: right;
  justify-content: center;
}

img {
  max-width: 100%;
}

.image {
  flex-basis: 100%;
}

.text {
  font-size: 20px;
  padding-left: 10px;
}

.work {
background-color: gray ;
margin-right: 30vw ;
}

.button {
  display: flex;
  position: relative;
  animation-name: buttons;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: forwards;
}

@keyframes buttons {
  0%   {left:600px; top:0px;}

  100% {left:0px; top:0px;}
}

.button a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}


.button a:hover {
  background-color: rgb(157, 157, 157);
  color: black;
}

@media (max-width: 700px) {
.button {   
    flex-direction: column;
  }
}