body {
	background-color: lightgray;
	
	
}
h1 {
	  color: black;
  text-align: center;
	 font-family: verdana;
	 height: 10vh;
	 width: 100vw;

}

h4 {
	height: 15px;
}
header {
	  color: black;
  text-align: left;
	 font-family: verdana;
background-color:gray;

}

section { 
	background-color: darkorchid;
    text-align: left;
margin-right: 30vw;

}
.container {
  display: flex;
  align-items: right;
  justify-content: center;
}

img {
  max-width: 100%;
}

.image {
  flex-basis: 100%;
}

.text {
  font-size: 20px;
  padding-left: 10px;
}

.work {
background-color: gray ;
margin-right: 30vw ;
}
a { color: black; 
}
a:hover {color: blueviolet;
}
.button {
  display: flex;
  align-items: right;
  justify-content: center;
  color: rgba(139, 139, 139, 0.501);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}