body {
	background-color: lightgray;
	
	
}
h1 {
	  color: black;
  text-align: center;
	 font-family: verdana;
	 height: 10vh;
	 width: 100vw;

}


head {
	  color: black;
  text-align: left;
	 font-family: verdana;
background-color: gray;

}

section { 
	background-color: darkorchid;
    text-align: right;


}